article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace,  serif;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019"}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: 'custom';
    src: url("font/custom.eot");
    src: url("font/custom.eot?#iefix") format("embedded-opentype"), url("font/custom.woff") format("woff"), url("font/custom.ttf") format("truetype"), url("font/custom.svg#custom") format("svg");
    font-weight: normal;
    font-style: normal;
}
[data-icon]:before {
    font-family: 'custom';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: -20%;
    line-height: 1;
    font-size: 1.3333em;
    -webkit-font-smoothing: antialiased;
}
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
}
a:hover {
    color: #0099ff;
}
a:focus {
    outline: none;
}
h1 {
    font-family: "proxima-nova-soft";
    font-weight: normal;
    margin: 0;
    font-size: 1.75em;
    line-height: 1em;
}
h2 {
    margin: 0 0 1em;
    font-family: "proxima-nova-soft";
    font-size: 1.3333em;
    line-height: 1em;
    text-transform: uppercase;
}
h3 {
    margin: 0 0 0.25em;
    font-family: "proxima-nova-soft";
    font-size: 1.3333em;
}
h4 {
    margin-top: 0;
    font-family: "proxima-nova-soft";
    font-size: 1.3333em;
    line-height: 1em;
    font-weight: normal;
    color: #929292;
}
hr {
    border: 0;
    height: 0;
    border-bottom: 0.0625em solid #d3d3d3;
    margin-bottom: 1em;
}
input[type="text"], input[type="password"] {
    border: 0.0625em solid #d3d3d3;
}
input[type="submit"], input[type="button"], .button {
    display: inline-block;
    font: inherit;
    border: none;
    background: #093;
    color: white;
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
input[type="submit"].small, input[type="button"].small, .button.small {
    font-size: 0.8333em;
    height: 2em;
    line-height: 2em;
}
input[type="submit"]:hover, input[type="button"]:hover, .button:hover {
    background: #26a851;
    color: white;
}
input[type="submit"].mute, input[type="button"].mute, .button.mute {
    background: #929292;
}
input[type="submit"].mute:hover, input[type="button"].mute:hover, .button.mute:hover {
    background: #b2b2b2;
}
input[type="submit"].warn, input[type="button"].warn, .button.warn {
    background: #a00;
}
input[type="submit"].warn:hover, input[type="button"].warn:hover, .button.warn:hover {
    background: #b62626;
}
.errormessage {
    background-color: #ffcccc;
    margin-bottom: 1.5em;
    padding: 1em;
    color: red;
    text-align: left;
}
form .group {
    padding: 2em 0;
}
form p {
    padding-left: 0;
    margin-top: 15px;
}
form input[type=text], form input[type=password] {
    height: 21px;
    width: 300px;
    color: #333;
    padding: 3px;
    font-size: 1em;
}
form input[type=file] {
    width: 300px;
    font-size: 0.8333em;
    font-weight: normal;
    padding: 0;
}
form textarea {
    width: 30em;
    height: 4em;
}
form label {
    font-weight: bold;
}
form .field {
    margin: 2em 0 0;
}
form .field:first-of-type {
    margin-top: 0;
}
form .field small {
    display: block;
    font-size: 0.8333em;
}
form .field_with_errors label {
    color: red;
}
form .field_with_errors input {
    border: 2px solid red;
}
form .budget_choices, form .us {
    padding: 0;
    clear: both;
    overflow: hidden;
}
form .budget_choices .field_with_errors, form .us .field_with_errors {
    display: inline;
}
form .budget_choices label, form .us label {
    display: block;
    float: left;
    padding-right: 10px;
    white-space: nowrap;
}
form .budget_choices input, form .us input {
    vertical-align: middle;
    height: 21px;
    color: #333;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    margin: 3px;
}
form .budget_choices span, form .us span {
    vertical-align: middle;
    font-weight: normal;
}
form .us_select {
    margin-top: 5px;
}
form ul.ui-autocomplete {
    position: absolute;
    list-style: none;
    background-color: #FFF;
    margin: 0;
    padding: 10px 0;
    cursor: default;
    font-size: 12px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
form ul.ui-autocomplete li {
    margin: 0;
    padding: 5px 5px 5px 10px;
}
form ul.ui-autocomplete li:hover {
    background-color: #eee;
}
form ul.ui-autocomplete li a {
    color: #222;
    display: block;
    font-weight: bold;
    text-decoration: none;
}
body {
    color: #252525;
    font-family: "proxima-nova";
    font-size: 16px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    background: #f4f4f4;
}
body.development:before {
    background-image: -webkit-linear-gradient(-360deg,  rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1.5em, #000 1.5em, #000 3.5em, rgba(0, 0, 0, 0) 3.5em, rgba(0, 0, 0, 0) 6.5em, #000 6.5em, #000 8.5em, rgba(0, 0, 0, 0) 8.5em, rgba(0, 0, 0, 0) 11.5em, #000 11.5em, #000 13.5em, rgba(0, 0, 0, 0) 13.5em, rgba(0, 0, 0, 0) 16.5em, #000 16.5em, #000 18.5em, rgba(0, 0, 0, 0) 18.5em, rgba(0, 0, 0, 0) 21.5em, #000 21.5em, #000 23.5em, rgba(0, 0, 0, 0) 23.5em, rgba(0, 0, 0, 0) 26.5em, #000 26.5em, #000 28.5em, rgba(0, 0, 0, 0) 28.5em, rgba(0, 0, 0, 0) 31.5em, #000 31.5em, #000 33.5em, rgba(0, 0, 0, 0) 33.5em, rgba(0, 0, 0, 0) 36.5em, #000 36.5em, #000 38.5em, rgba(0, 0, 0, 0) 38.5em, rgba(0, 0, 0, 0) 41.5em, #000 41.5em, #000 43.5em, rgba(0, 0, 0, 0) 43.5em, rgba(0, 0, 0, 0) 46.5em, #000 46.5em, #000 48.5em, rgba(0, 0, 0, 0) 48.5em, rgba(0, 0, 0, 0) 51.5em, #000 51.5em, #000 53.5em, rgba(0, 0, 0, 0) 53.5em, rgba(0, 0, 0, 0) 56.5em, #000 56.5em, #000 58.5em, rgba(0, 0, 0, 0) 58.5em);
    background-image: linear-gradient(90deg,  rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 1.5em, #000 1.5em, #000 3.5em, rgba(0, 0, 0, 0) 3.5em, rgba(0, 0, 0, 0) 6.5em, #000 6.5em, #000 8.5em, rgba(0, 0, 0, 0) 8.5em, rgba(0, 0, 0, 0) 11.5em, #000 11.5em, #000 13.5em, rgba(0, 0, 0, 0) 13.5em, rgba(0, 0, 0, 0) 16.5em, #000 16.5em, #000 18.5em, rgba(0, 0, 0, 0) 18.5em, rgba(0, 0, 0, 0) 21.5em, #000 21.5em, #000 23.5em, rgba(0, 0, 0, 0) 23.5em, rgba(0, 0, 0, 0) 26.5em, #000 26.5em, #000 28.5em, rgba(0, 0, 0, 0) 28.5em, rgba(0, 0, 0, 0) 31.5em, #000 31.5em, #000 33.5em, rgba(0, 0, 0, 0) 33.5em, rgba(0, 0, 0, 0) 36.5em, #000 36.5em, #000 38.5em, rgba(0, 0, 0, 0) 38.5em, rgba(0, 0, 0, 0) 41.5em, #000 41.5em, #000 43.5em, rgba(0, 0, 0, 0) 43.5em, rgba(0, 0, 0, 0) 46.5em, #000 46.5em, #000 48.5em, rgba(0, 0, 0, 0) 48.5em, rgba(0, 0, 0, 0) 51.5em, #000 51.5em, #000 53.5em, rgba(0, 0, 0, 0) 53.5em, rgba(0, 0, 0, 0) 56.5em, #000 56.5em, #000 58.5em, rgba(0, 0, 0, 0) 58.5em);
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 60em;
    margin: 0 auto;
    opacity: 0.05;
    pointer-events: none;
    z-index: 9999;
}
body #content {
    *zoom: 1;
    width: 60em;
    margin: 0 auto;
    background: #fff;
    border: 0.0625em solid #d3d3d3;
    text-align: left;
    min-height: 30em;
}
body #content:before, body #content:after {
    content: " ";
    display: table;
}
body #content:after {
    clear: both;
}
body #content .success {
    background-color: #d7ecac;
    margin-bottom: 1em;
    padding: 1.5em;
    color: #587f25;
    text-align: left;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
body #content > .error {
    padding: 15px;
    background-color: #ecc1ac;
    color: #7f5825;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}
body #content .success h2 {
    margin: 0;
}
body #content .narrow {
    width: 27em;
    margin: 0 auto;
}
body article {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
    margin-top: 1.5em;
}
body ul, body ol {
    padding-left: 3em;
}
body aside {
    float: right;
    width: 17em;
    padding-left: 1.5em;
    margin-bottom: 3em;
    margin-left: 1.5em;
    border-left: 1px solid #d3d3d3;
}
body aside p {
    font-size: 0.8333em;
}
body aside .tweet {
    margin: 1em 2em;
}
#actionbar {
    *zoom: 1;
    width: 60em;
    margin: 0 auto;
    padding: 1.5em 0;
}
#actionbar:before, #actionbar:after {
    content: " ";
    display: table;
}
#actionbar:after {
    clear: both;
}
#actionbar h1 {
    padding-left: 24px;
}
#actionbar .backbar {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
}
#actionbar .backbar .arrow:before {
    content: '\e005';
    font-family: 'custom';
    font-size: 1.3333em;
    vertical-align: -20%;
    margin-left: -0.25em;
}
#actionbar .backbar a {
    font-weight: bold;
}
.about-box {
    *zoom: 1;
}
.about-box:before, .about-box:after {
    content: " ";
    display: table;
}
.about-box:after {
    clear: both;
}
.about-box hgroup {
    margin: 1.5em;
}
.about-box hgroup h2 {
    margin-bottom: 0;
}
.about-box hgroup h4 {
    margin: 0.75em 0 0;
}
.about-box .highlight {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 50%;
    line-height: 1.5em;
    float: left;
    padding: 1.5em;
}
.about-box .highlight img {
    margin-right: 20px;
}
.about-box .highlight a {
    color: #0099ff;
    border-bottom: 2px solid #0099ff;
    font-weight: bold;
    text-decoration: none;
}
.about-box .highlight a:hover {
    color: #222;
    border-bottom: 2px solid #0099ff;
}
#footer {
    *zoom: 1;
    width: 60em;
    margin: 0 auto;
    padding: 5em 0 3em;
}
#footer:before, #footer:after {
    content: " ";
    display: table;
}
#footer:after {
    clear: both;
}
#footer .wrapper {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
}
#footer .wrapper ul {
    *zoom: 1;
    list-style: none;
    padding: 0;
}
#footer .wrapper ul:before, #footer .wrapper ul:after {
    content: " ";
    display: table;
}
#footer .wrapper ul:after {
    clear: both;
}
#footer .wrapper ul li {
    float: left;
    padding-right: 2em;
}
#footer .wrapper ul li a {
    font-size: 0.8333em;
}
#footer .wrapper p {
    font-size: 0.8333em;
    color: #929292;
}
#header {
    background-color: #252525;
}
#header .container {
    *zoom: 1;
    width: 60em;
    margin: 0 auto;
    position: relative;
}
#header .container:before, #header .container:after {
    content: " ";
    display: table;
}
#header .container:after {
    clear: both;
}
#header .container #login {
    position: absolute;
    top: 1em;
    right: 1.5em;
}
#header .container #login a {
    font-size: 0.8333em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
#header .container #login a:hover {
    text-decoration: underline;
}
#header .container .logo {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 17em;
}
#header .container .logo img {
    height: 3em;
    margin: 1em 0;
}
#header .container .navigation {
    clear: both;
}
#header .container .navigation ol {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%}
#header .container .navigation ol li {
    float: left;
    width: 25%}
#header .container .navigation ol li:last-child a {
    border-right: 1px solid #505050;
}
#header .container .navigation ol li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border-left: 1px solid #505050;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 0.75em 1.5em;
    letter-spacing: 0.1em;
}
#header .container .navigation ol li a:hover, #header .container .navigation ol li a.active {
    background: #505050;
}
#header .container .navigation ol li a em {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8333em;
    white-space: nowrap;
}
#header .container .navigation ol li a small {
    display: block;
    font-size: 0.8333em;
    color: #ccc;
    white-space: nowrap;
}
.loggedin #login .guest_user {
    display: none;
}
.guest #login .logged_in_user {
    display: none;
}
#searchbar ul.filters {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#searchbar ul.filters li {
    display: inline;
    font-weight: bold;
}
#searchbar ul.filters li.menu {
    position: relative;
    font-size: 1.3333em;
}
#searchbar ul.filters li.menu a {
    text-decoration: none;
    font-family: "proxima-nova-soft";
    border-bottom: 3px solid #0099ff;
}
#searchbar ul.filters li.menu a:hover {
    color: #252525;
    border-bottom: 3px solid #252525;
}
#searchbar ul.filters li.menu .search_menu {
    left: -1px;
    position: absolute;
    margin-top: 8px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-top: 1px solid #ccc;
    width: 10em;
    z-index: 5000;
    background-color: white;
    text-align: left;
}
#searchbar ul.filters li.menu .search_menu a {
    font-weight: normal;
    display: block;
    margin: 0.75em;
    padding: 0;
    font-size: 0.8333em;
    text-decoration: none;
    color: #3399cc;
    border: none;
}
#searchbar ul.filters li.menu .search_menu a:hover {
    text-decoration: underline;
}
#searchbar #related_locations {
    font-size: 0.8333em;
    text-align: center;
    margin-top: 0.5em;
}
#searchbar #related_locations ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#searchbar #related_locations ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-right: 1em;
}
#searchbar #related_locations ul li:last-child {
    padding-right: 0;
}
#title {
    background: #505050;
    color: white;
    padding: 1em 0;
}
#title header {
    *zoom: 1;
    width: 60em;
    margin: 0 auto;
}
#title header:before, #title header:after {
    content: " ";
    display: table;
}
#title header:after {
    clear: both;
}
#title header hgroup {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
}
#twitter {
    position: absolute;
    right: 20px;
    bottom: 10px;
}
#twitter img {
    width: 20px;
    height: 20px;
}
.upsell {
    background-color: #d7ecac;
    color: #587f25;
    text-align: center;
    padding: 1.5em 0;
}
.upsell p {
    margin: 0;
    font-size: 1.3333em;
}
.upsell a {
    font-weight: bold;
    color: #48671f;
    text-decoration: none;
    border-bottom: 3px solid #99cc66;
}
.upsell a:hover {
    border-bottom: 3px solid #48671f;
}
#upsell_bar {
    background: #3399cc;
    border-bottom: 2px solid #2b82ad;
    color: white;
    padding: 10px 0;
    font-family: "proxima-nova-soft";
    font-size: 24px;
    line-height: 38px;
}
#upsell_bar .message {
    display: inline;
    margin-right: 50px;
}
#upsell_bar a img {
    vertical-align: middle;
}
.card {
    border: 0.0625em solid #d3d3d3;
    margin-bottom: 1em;
    position: relative;
    background: #fff;
    text-align: left;
    margin: 0.75em;
    float: left;
}
.card .badge {
    margin: 0;
    padding: 0 1em;
    position: absolute;
    top: -0.875em;
    left: -0.75em;
    line-height: 1.5em;
    color: white;
}
.card .badge strong {
    font-size: 0.8333em;
}
.card .badge.new {
    background: #009933;
}
.card .badge.updated {
    background: #ff6700;
}
.card .actions {
    height: 2em;
    line-height: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #d3d3d3;
}
.card .actions .view, .card .actions .shortlist {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: 0.8333em;
    font-weight: bold;
    text-align: center;
}
.card .actions .view a, .card .actions .shortlist a {
    text-decoration: none;
}
.card .actions .view a .label, .card .actions .shortlist a .label {
    color: #252525;
}
.card .actions .view a:hover .label, .card .actions .shortlist a:hover .label {
    text-decoration: underline;
}
.card .actions .view {
    float: left;
    border-right: 1px solid #d3d3d3;
}
.card .actions .view .icon {
    padding-left: 0.25em;
    color: #093;
}
.card .actions .shortlist {
    float: right;
}
.card .actions .shortlist .icon {
    padding-left: 0.25em;
    color: red;
}
.card.free {
    width: 13.375em;
    height: 16em;
}
.card.free header {
    margin: 0.75em;
}
.card.free header h2 {
    font-size: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    text-transform: none;
    margin-bottom: 0.75em;
}
.card.free header h2 a {
    color: #252525;
}
.card.free header .details .budget, .card.free header .details .location {
    font-size: 0.6666em;
    line-height: 1em;
}
.card.free header .details .location {
    padding-top: 0.625em;
}
.card.free .image {
    position: absolute;
    bottom: 2.5em;
    margin: 0 0.75em;
}
.card.free .image img {
    display: block;
    width: 11.875em;
    height: 8.285em;
}
.card.free .actions {
    height: 1.5em;
    line-height: 1.5em;
}
.card.free .actions .view, .card.free .actions .shortlist {
    font-size: 0.6666em;
}
.card.pro {
    width: 28.375em;
    height: 33.625em;
}
.card.pro header {
    margin: 0.75em;
}
.card.pro header .logo {
    float: left;
    height: 3.125em;
    width: 9.375em;
    margin: 0.75em;
	overflow:hidden;
}
.card.pro header .logo a {
    float: left;
}
.card.pro header h2 {
    float: left;
    width: 13em;
    text-overflow: ellipsis;
    text-transform: none;
    margin: 0;
    height: 74px;
}
.card.pro header h2 a {
    color: #252525;
}
.card.pro header .details {
    float: right;
    font-size: 0.8333em;
    text-align: right;
    color: #5b5b5b;
    line-height: 1em;
}
.card.pro header .details .location {
    padding-top: 0.5em;
}
.card.pro .slideshow {
    clear: both;
    margin: 0 0.75em;
    overflow: hidden;
}
.card.pro .slideshow .pagination {
    position: relative;
    margin: 0.5em 0;
    height: 2em;
}
.card.pro .slideshow .pagination .slides_tabs {
    margin: 0;
    padding: 0;
    text-align: center;
}
.card.pro .slideshow .pagination .slides_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
}
.card.pro .slideshow .pagination .slides_tabs li a {
    text-indent: -9999px;
    overflow: hidden;
    background: #c8c8c8;
    display: inline-block;
    _display: block;
    *display: block;
    width: 1em;
    height: 0.69767em;
    margin: 0.5em;
}
.card.pro .slideshow .pagination .slides_tabs li.slides_here a {
    background: #5b5b5b;
}
.card.pro .slideshow .pagination .slides_nav {
    font-family: 'custom';
    position: absolute;
    top: 0;
    color: #5b5b5b;
    text-decoration: none;
    font-size: 1.3333em;
}
.card.pro .slideshow .pagination .prev {
    left: -0.25em;
}
.card.pro .slideshow .pagination .next {
    right: -0.25em;
}
.card.pro .slideshow .slides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.card.pro .slideshow .slides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
.card.pro .slideshow .slides li:first-child {
    position: relative;
    display: block;
    float: left;
}
.card.pro .slideshow .slides li img {
    display: block;
    float: left;
    width: 27em;
    height: 18.837em;
    border: 0;
}
.card.pro .slideshow .slides li .caption {
    margin-top: 2em;
    font-size: 0.8333em;
}
.card.pro .slideshow .slides li .metadata {
    clear: both;
    overflow: hidden;
    padding-top: 0.5em;
}
.card.pro .slideshow .slides li .metadata>div {
    float: left;
    width: 50%}
.card.pro .slideshow .slides li .metadata>div label {
    font-size: 0.8333em;
    padding: 0 0 0.5em 0.5em;
    display: inline-block;
    color: #929292;
    width: 5.5em;
}
.card.pro .slideshow .slides li .metadata>div em {
    font-size: 0.8333em;
    padding: 0;
    font-style: normal;
}
.tweet .content {
    padding: 15px;
    background-color: #efe3a9;
    border-radius: 10px;
}
.tweet .content p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.tweet .bubble {
    text-align: center;
    margin-top: -1px;
}
.tweet .bubble img {
    height: 16px;
    width: 32px;
}
.tweet .avatar img {
    float: left;
    height: 32px;
    width: 32px;
}
.tweet .avatar p {
    padding: 0;
    margin: 0 0 0 40px;
}
.account .stats {
    background-color: #d7ecac;
    padding: 1.5em;
    color: #587f25;
    text-align: center;
    margin-bottom: 3em;
}
.account article {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 22em;
}
.account article .update {
    border-bottom: 1px solid #d3d3d3;
    overflow: hidden;
    padding-top: 1em;
}
.account article .update:first-child {
    padding-top: 0;
}
.account article .update:first-child h2 {
    margin-top: 0;
}
.account article .update:last-child {
    border-bottom: none;
}
.account article .update p {
    font-size: 0.8333em;
}
.account article .update .minty {
    background: #e9e9e9;
    padding: 1em;
    margin-bottom: 1em;
}
.account article .update .minty p:last-child {
    margin-bottom: 0;
}
.account .credit_card_form .ccnumber {
    margin: 2em 0;
}
.account .credit_card_form .ccnumber small {
    display: block;
    margin: 0.25em 0;
}
.account .credit_card_form .ccnumber img {
    margin-top: 0.25em;
}
.account .credit_card_form .field {
    margin: 1em 0 0.25em 0;
}
.account .credit_card_form .field_with_errors label {
    color: red;
}
.account .credit_card_form .field_with_errors input {
    border: 2px solid red;
}
.account .credit_card_form input[type=text] {
    width: 250px;
}
.account .credit_card_form input[type=text].short {
    width: 150px;
}
.account .example_card {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 32em;
    margin-top: 1.5em;
}
.account .example_card h3 {
    margin-bottom: 1em;
    text-align: center;
}
.account .example_card .card {
    float: none;
    margin: 0 auto;
}
.account .example_card .view-link {
    clear: both;
    text-align: center;
    padding-top: 1em;
}
.account .example_card .upgrade {
    background-color: #ffffcc;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    overflow: hidden;
    text-align: left;
}
.account .example_card .upgrade h2 a {
    color: #222;
    border-bottom: 2px solid #ffcc66;
    text-decoration: none;
}
.account .example_card .upgrade ul {
    margin: 0 0 10px -15px;
    list-style-image: url(/assets/icon_check.png);
}
.account .example_card .upgrade ul li {
    padding: 0 0 10px 0;
}
.account.edit form {
    margin-bottom: 5em;
}
.account.edit .subscribe {
    padding-bottom: 1em;
}
.account.update .subscribe {
    margin: 20px 0;
}
.account.update p {
    padding-left: 0;
}
.account.listing .submit_image, .account.update_listing .submit_image, .account.betadata .submit_image {
    margin-left: 20px;
    margin-top: 20px;
}
.cities article h4 {
    margin-top: 0.5em;
    margin-bottom: 0;
}
.cities article h4 a {
    color: black;
}
.cities article .group {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 12em;
    -moz-column-width: 12em;
    column-width: 12em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    margin-bottom: 3em;
}
.cities article .group a {
    display: block;
    font-size: 0.8333em;
}
.cities article .states {
    margin-bottom: 2em;
}
.cities article .states h4 {
    font-size: 1em;
}
.cities article .states .group {
    margin-bottom: 1em;
}
body.collections .collection_group {
    margin-top: 2em;
}
body.collections .collection_group ul {
    padding: 0;
    list-style: none;
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
}
body.collections .portfolio_images {
    margin-top: 2em;
}
body.collections .portfolio_images .portfolio_image {
    *zoom: 1;
    padding: 2em 0;
    border-bottom: 1px solid #d3d3d3;
}
body.collections .portfolio_images .portfolio_image:before, body.collections .portfolio_images .portfolio_image:after {
    content: " ";
    display: table;
}
body.collections .portfolio_images .portfolio_image:after {
    clear: both;
}
body.collections .portfolio_images .portfolio_image:last-child {
    border-bottom: none;
}
body.collections .portfolio_images .portfolio_image .image {
    float: left;
    margin-right: 2em;
}
body.collections .portfolio_images .portfolio_image .image img {
    display: block;
}
body.collections .portfolio_images .portfolio_image .metadata label {
    font-size: 0.8333em;
    display: inline-block;
    padding-bottom: 0.5em;
    color: #929292;
    width: 5.5em;
}
body.collections .portfolio_images .portfolio_image .metadata em {
    font-size: 0.8333em;
    padding-bottom: 0.5em;
    font-style: normal;
}
body.collections .portfolio_images .portfolio_image .description {
    margin-top: 1em;
    height: 9em;
    font-size: 0.8333em;
    text-overflow: ellipsis;
    overflow: hidden;
}
.favorites #content {
    background: none;
    border: none;
}
.favorites .highlights {
    *zoom: 1;
}
.favorites .highlights:before, .favorites .highlights:after {
    content: " ";
    display: table;
}
.favorites .highlights:after {
    clear: both;
}
.favorites .highlights .highlight {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 27em;
    padding-right: 3em;
    line-height: 1.5em;
    float: left;
}
.favorites .highlights .highlight img {
    margin-right: 20px;
}
.favorites .highlights .highlight p {
    padding-left: 120px;
}
.favorites .highlights .highlight a {
    color: #0099ff;
    border-bottom: 2px solid #0099ff;
    font-weight: bold;
    text-decoration: none;
}
.favorites .highlights .highlight a:hover {
    color: #222;
    border-bottom: 2px solid #0099ff;
}
.favorites .look_link {
    color: #0099ff;
    border-bottom: 2px solid #0099ff;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}
.favorites #favorites {
    *zoom: 1;
}
.favorites #favorites:before, .favorites #favorites:after {
    content: " ";
    display: table;
}
.favorites #favorites:after {
    clear: both;
}
.favorites .favorites_link {
    padding: 1em;
    background-color: #ffffcc;
    text-align: center;
    border: 0.0625em solid #d3d3d3;
    margin: 2em 0 0;
}
.invoices.index p {
    padding-left: 0;
}
.invoices.edit_customizations input[type=submit] {
    display: block;
    margin-top: 2em;
}
.invoices.show {
    background: white;
}
.invoices.show #header {
    display: none;
}
.invoices.show #actionbar {
    display: none;
}
.invoices.show #content {
    border: none;
}
.invoices.show #footer {
    display: none;
}
.invoices.show article .logo {
    float: right;
    width: 250px;
}
.invoices.show article .details {
    padding: 5em 0 1em;
}
.invoices.show article .details .cell {
    padding-left: 10em;
    padding-bottom: 1.5em;
}
.invoices.show article .details .cell label {
    float: left;
    margin-left: -10em;
    font-weight: bold;
}
.invoices.show article .details .cell p {
    padding-left: 0;
}
.invoices.show article .details table {
    width: 50%;
    border: 1px solid #ccc;
}
.invoices.show article .details table td, .invoices.show article .details table th {
    padding: 1.5em;
}
.invoices.show article .details table thead {
    background: #ccc;
}
.invoices.show article .details table tfoot {
    font-weight: bold;
}
.invoices.show article .details table tfoot td:first-child {
    text-align: right;
}
.invoices.show article .details h1 {
    margin-top: 2em;
}
.endless_listings {
    margin-top: -0.75em;
}
#live_spinner {
    clear: both;
    text-align: center;
}
#live_spinner img {
    margin-top: 20px;
}
.site #content, .listings.search_by_location_or_budget #content, .listings.search_by_location_and_budget #content {
    background: none;
    border: none;
    padding: 0;
}
.listings.print header {
    display: none;
}
.listings.print #content {
    border: none;
}
.listings.print #content .action {
    margin-top: 2em;
}
.listings.print footer {
    display: none;
}
.listings.show .tools {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
    *zoom: 1;
    border-bottom: 0.125em solid #f4f4f4;
}
.listings.show .tools:before, .listings.show .tools:after {
    content: " ";
    display: table;
}
.listings.show .tools:after {
    clear: both;
}
.listings.show .tools>div {
    padding: 0.75em 0;
    float: right;
    font-size: 0.8333em;
}
.listings.show .tools>div a {
    text-decoration: none;
}
.listings.show .tools>div a .icon {
    color: #bdbdbd;
}
.listings.show .tools>div a .icon:before {
    font-family: 'custom';
    font-size: 1.3333em;
    vertical-align: -20%;
    margin-right: 0.25em;
}
.listings.show .tools>div a:hover .label {
    text-decoration: underline;
}
.listings.show .tools>div a:hover .icon {
    color: #0099ff;
}
.listings.show .tools .favorites_listing {
    float: left;
}
.listings.show .tools .favorites_listing .icon:before {
    color: red;
    vertical-align: -20%}
.listings.show .tools .printpage {
    margin-left: 3em;
}
.listings.show .tools .printpage .icon:before {
    content: '\e009'}
.listings.show .tools .tweetpage .icon:before {
    content: '\e006'}
.listings.show .overview {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
    margin-top: 0.75em;
}
.listings.show .overview h2 {
    margin: 0;
    padding: 0;
}
.listings.show .overview p {
    margin-top: 2em;
}
.listings.show .description {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
    margin-top: 0.75em;
}
.listings.show .gallery {
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 57em;
    margin-top: 4.5em;
}
.listings.show .gallery .portfolio_image {
    background-color: #e9e9e9;
    padding: 0.375em;
    text-align: center;
    margin-bottom: 3em;
}
.listings.show .gallery .portfolio_image img {
    width: 100%}
.listings.show .gallery .portfolio_image p {
    text-align: left;
    padding: 1em;
    margin: 0;
}
.listings.show .action {
    clear: both;
    margin: 0;
    padding: 1.5em;
    background: #252525;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.listings.show .action h2 {
    color: #f7eaac;
    font-size: 16px;
    letter-spacing: normal;
    margin: 0 0 10px 0;
    padding: 0;
}
.listings.show .action h3 {
    color: #999;
    font-size: 18px;
    letter-spacing: normal;
    margin: 0 0 12px 0;
    padding: 0;
}
.pages.grid .two-col, .pages.grid .three-col, .pages.grid .four-col, .pages.grid .push2-col, .pages.grid .push3-col, .pages.grid .width {
    *zoom: 1;
    margin-bottom: 3em;
}
.pages.grid .two-col:before, .pages.grid .two-col:after, .pages.grid .three-col:before, .pages.grid .three-col:after, .pages.grid .four-col:before, .pages.grid .four-col:after, .pages.grid .push2-col:before, .pages.grid .push2-col:after, .pages.grid .push3-col:before, .pages.grid .push3-col:after, .pages.grid .width:before, .pages.grid .width:after {
    content: " ";
    display: table;
}
.pages.grid .two-col:after, .pages.grid .three-col:after, .pages.grid .four-col:after, .pages.grid .push2-col:after, .pages.grid .push3-col:after, .pages.grid .width:after {
    clear: both;
}
.pages.grid .two-col>div, .pages.grid .three-col>div, .pages.grid .four-col>div, .pages.grid .push2-col>div, .pages.grid .push3-col>div, .pages.grid .width>div {
    height: 3em;
    background: blue;
}
.pages.grid .two-col .col-1 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 27em;
}
.pages.grid .two-col .col-2 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 27em;
}
.pages.grid .three-col .col-1 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 17em;
}
.pages.grid .three-col .col-2 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 17em;
}
.pages.grid .three-col .col-3 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 17em;
}
.pages.grid .four-col .col-1 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
}
.pages.grid .four-col .col-2 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
}
.pages.grid .four-col .col-3 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
}
.pages.grid .four-col .col-4 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
}
.pages.grid .push2-col .col-1 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
}
.pages.grid .push2-col .col-2 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
    margin-left: 31.5em;
}
.pages.grid .push3-col .col-1 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
}
.pages.grid .push3-col .col-2 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
    margin-left: 16.5em;
}
.pages.grid .push3-col .col-3 {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 12em;
}
.pages.grid .width .element {
    width: 12em;
    margin-left: 1.5em;
}
.pages.success .tweet-row {
    *zoom: 1;
}
.pages.success .tweet-row:before, .pages.success .tweet-row:after {
    content: " ";
    display: table;
}
.pages.success .tweet-row:after {
    clear: both;
}
.pages.success .tweet-row:last-child {
    margin-bottom: 2.25em;
}
.pages.success .tweet-row .tweet {
    float: left;
    margin: 0.75em 0;
    margin-right: 3em;
    overflow: hidden;
    width: 12em;
}
.pages.success .tweet-row .tweet:last-child {
    margin-right: 0;
}
.pages.success .tweet-row .tweet a {
    font-size: 0.8333em;
}
.pages.tour article img {
    margin: 3em 0;
}
.pages.designer .pro.card {
    float: right;
}
.pages.designer .description {
    width: 400px;
}
.pages.designer .description ul {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-left: 20px;
    list-style: none;
}
.pages.designer .description ul li {
    list-style: none;
    margin-bottom: 10px;
}
.pages.designer .description ul li:last-child {
    margin-bottom: 0;
}
.pages.designer .description ul li img {
    float: left;
    margin-right: 20px;
}
.pages.designer .description ul li p {
    padding-left: 120px;
}
.pages.getting-started .step {
    margin: 1.5em 0;
    clear: both;
}
.pages.getting-started .step img {
    float: left;
    margin: 0 2em 2em 0;
    border: 1px solid #ccc;
}
.pages.getting-started .action {
    margin-top: 1.5em;
    text-align: center;
}
.pages.getting-started .action a {
    font-size: 150%}
.pages .press .downloads, .pages .press .contact {
    padding-bottom: 1em;
}
.pages .press .downloads em, .pages .press .contact em {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}
.pages .press .downloads ul, .pages .press .contact ul {
    margin: 0;
    list-style: none;
    padding-left: 1.5em;
    padding-top: 0.5em;
}
.pages .press h2 {
    padding-top: 1em;
}
.pages .press h3 {
    margin-bottom: 1em;
}
.pages .press h4 {
    margin-bottom: 1em;
    text-transform: uppercase;
    float: right;
}
body.auth #content {
    border: none;
    background: none;
}
body.auth #content .create_form, body.auth #content .edit_form {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 27em;
    float: none;
    margin: 2em auto 0;
    background: #fff;
    border: 1px solid #d3d3d3;
}
body.auth #content .create_form form, body.auth #content .edit_form form {
    padding: 1.5em;
}
body.auth #content .create_form form h2, body.auth #content .edit_form form h2 {
    padding-left: 0;
    color: #222222;
    font-family: "proxima-nova-soft";
    font-size: 21px;
    font-weight: bold;
}
body.auth #content .create_form form .remember, body.auth #content .edit_form form .remember {
    margin: 1em 0 2em;
}
body.auth #content .create_form .create, body.auth #content .edit_form .create {
    padding: 10px 10px 10px 0;
    text-align: right;
    font-size: 11px;
    color: #666;
    background-color: #f5f6f7;
}
.plan .create_form .ccnumber {
    margin: 2em 0;
}
.plan .create_form .ccnumber h3 {
    padding-left: 0;
}
.plan .create_form .ccnumber small {
    display: block;
    margin: 0.25em 0;
}
.plan .create_form .ccnumber img {
    margin-top: 0.25em;
}
.plan .create_form .field {
    margin: 20px 0 3px 0;
}
.plan .create_form .field_with_errors label {
    color: red;
}
.plan .create_form .field_with_errors input {
    border: 2px solid red;
}
.plan .create_form input[type=text] {
    width: 250px;
}
.plan .create_form input[type=text].short {
    width: 150px;
}
.plan .message h2 {
    padding-left: 0;
}
.plan .message ul {
    padding-left: 0;
}
.plan .message ul li {
    margin-left: 20px;
}
.plan .message p {
    padding-left: 0;
}
.plan.learn .description ul {
    margin: 0;
    list-style-image: url(/assets/icon_check.png);
}
.plan.learn .description ul li {
    padding: 0 0 20px 0;
}
.plan.learn .description .buttons {
    margin: 20px 0;
}
.plan.learn .card {
    float: right;
    margin: 0 0 0 3em;
}
.plan.learn h2 {
    padding-left: 0;
}
.plan.learn h3 {
    padding-left: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 16px;
}
.plan.learn p {
    padding-left: 0;
}
.portfolio_images.index #portfolio_images .portfolio_image {
    *zoom: 1;
    margin: 2em 0;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.portfolio_images.index #portfolio_images .portfolio_image:before, .portfolio_images.index #portfolio_images .portfolio_image:after {
    content: " ";
    display: table;
}
.portfolio_images.index #portfolio_images .portfolio_image:after {
    clear: both;
}
.portfolio_images.index #portfolio_images .portfolio_image:last-child {
    border-bottom: none;
}
.portfolio_images.index #portfolio_images .portfolio_image .image {
    float: left;
    position: relative;
}
.portfolio_images.index #portfolio_images .portfolio_image .image img {
    display: block;
}
.portfolio_images.index #portfolio_images .portfolio_image .image .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}
.portfolio_images.index #portfolio_images .portfolio_image .image .overlay.rejected {
    background: red;
}
.portfolio_images.index #portfolio_images .portfolio_image .description {
    float: left;
    width: 20em;
    font-size: 0.8333em;
}
.portfolio_images.index #portfolio_images .portfolio_image .description label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25em;
}
.portfolio_images.index #portfolio_images .portfolio_image .description .value {
    height: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.portfolio_images.index #portfolio_images .portfolio_image .meta-data {
    float: left;
    padding: 0 2em;
    width: 20em;
    font-size: 0.8333em;
}
.portfolio_images.index #portfolio_images .portfolio_image .meta-data label {
    display: inline-block;
    width: 7em;
    font-weight: bold;
    margin-bottom: 0.25em;
}
.portfolio_images.index #portfolio_images .portfolio_image .meta-data .value {
    display: inline-block;
    margin-bottom: 0.25em;
}
.portfolio_images.index #portfolio_images .portfolio_image ul.actions {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    list-style: none;
}
.portfolio_images.index #portfolio_images .portfolio_image ul.actions li {
    text-align: right;
    margin-bottom: 10px;
}
.portfolio_images.index #portfolio_images .portfolio_image ul.actions li a {
    width: 40px;
}
.portfolio_images.index a.button {
    margin-bottom: 20px;
}
.portfolio.edit h1, .portfolio.add h1 {
    margin: 0 0 30px 0;
}
.portfolio.edit img.image, .portfolio.add img.image {
    float: right;
}
.portfolio.edit label, .portfolio.add label {
    width: 8em;
    display: inline-block;
}
.portfolio.edit .element, .portfolio.add .element {
    margin-bottom: 20px;
}
.portfolio.edit .description label, .portfolio.add .description label {
    display: block;
    margin-bottom: 0.5em;
}
.portfolio.edit .description textarea, .portfolio.add .description textarea {
    height: 10em;
    width: 27em;
}
.portfolio.edit input[type="submit"], .portfolio.add input[type="submit"] {
    margin-top: 1em;
    margin-bottom: 20px;
}
body.auth #content {
    border: none;
    background: none;
}
body.auth #content .login_form {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 27em;
    margin-left: 16.5em;
    margin-top: 3em;
    background: #fff;
    border: 0.0625em solid #d3d3d3;
}
body.auth #content .login_form form {
    padding: 1.5em;
}
body.auth #content .login_form form h2 {
    padding-left: 0;
    color: #222222;
    font-family: "proxima-nova-soft";
    font-size: 21px;
    font-weight: bold;
}
body.auth #content .login_form form .remember {
    margin: 1em 0 2em;
}
body.auth #content .login_form .create {
    padding: 1em;
    text-align: right;
    font-size: 0.8333em;
    color: #666;
    background-color: #f5f6f7;
}
.signup .navigation .success {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}
.signup .navigation .success a {
    display: block;
    width: 135px;
    height: 50px;
}
.signup .steps {
    text-align: center;
    font-size: 18px;
    font-family: "proxima-nova-soft";
    color: #777;
    margin: auto;
}
.signup .steps img {
    margin-bottom: 4px;
    margin-left: 50px;
}

.signup .steps img.first {
    margin-left: 0;
}
.signup .steps a {
    color: #777;
}
.signup.user .example_card, .signup.save_user .example_card {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 22em;
    margin-top: 20px;
    text-align: center;
}
.signup.user .example_card .preview, .signup.save_user .example_card .preview {
    position: fixed;
    background-image: url(/assets/bkgd-create.png);
    background-repeat: no-repeat;
}
.signup.user .example_card .preview h3, .signup.save_user .example_card .preview h3 {
    font-size: 14px;
    margin: 20px 0 10px 0;
}
.signup.user .example_card .preview .card, .signup.save_user .example_card .preview .card {
    text-align: left;
    margin-left: 65px;
    margin-top: 10px;
}
.signup.user .example_card .preview .card .caption, .signup.save_user .example_card .preview .card .caption {
    padding: 10px 5px 5px 5px;
    color: #999;
    font-size: 11px;
}
.signup.user .create_form, .signup.save_user .create_form {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 32em;
    margin-left: 26.5em;
}
.signup.upgrade .description {
    width: 27em;
}
.signup.upgrade .description ul {
    margin: 0;
    list-style-image: url(/assets/icon_check.png);
}
.signup.upgrade .description ul li {
    padding: 0 0 1em 0;
}
.signup.upgrade .card.pro {
    float: right;
    margin: 0 0 0 3em;
}
.signup.upgrade .buttons {
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.signup.upgrade .buttons a:first-child {
    margin-right: 2em;
}
.signup.upgrade h2 {
    padding-left: 0;
}
.signup.upgrade h3 {
    padding-left: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1em;
}
.signup.upgrade p {
    padding-left: 0;
}
.signup.free .create_form {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 27em;
    margin: 0;
}
.signup.free .example_card {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 27em;
    text-align: center;
    margin: 0;
}
.signup.free .example_card .card.free {
    float: none;
    margin: 2em auto 1em;
}
.signup.pro .create_form, .signup.publish_pro .create_form {
    float: left;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 27em;
    margin: 0;
}
.signup.pro .create_form .ccnumber, .signup.publish_pro .create_form .ccnumber {
    margin: 2em 0;
}
.signup.pro .create_form .ccnumber small, .signup.publish_pro .create_form .ccnumber small {
    display: block;
    margin: 0.25em 0;
}
.signup.pro .create_form .ccnumber img, .signup.publish_pro .create_form .ccnumber img {
    margin-top: 0.25em;
}
.signup.pro .create_form .field, .signup.publish_pro .create_form .field {
    margin: 20px 0 3px 0;
}
.signup.pro .create_form .field_with_errors label, .signup.publish_pro .create_form .field_with_errors label {
    color: red;
}
.signup.pro .create_form .field_with_errors input, .signup.publish_pro .create_form .field_with_errors input {
    border: 2px solid red;
}
.signup.pro .create_form input[type=text], .signup.publish_pro .create_form input[type=text] {
    width: 250px;
}
.signup.pro .create_form input[type=text].short, .signup.publish_pro .create_form input[type=text].short {
    width: 150px;
}
.signup.pro .example_card, .signup.publish_pro .example_card {
    float: right;
    text-align: center;
}
.signup.pro .example_card .card.pro, .signup.publish_pro .example_card .card.pro {
    float: none;
    margin: 1em auto;
}
body.print {
    background-color: #ffffff;
}

/** HOANG ADD 26-02 **/
ul, li {
    list-style: none;
}
.errorSummary {
    background-color: #ffcccc;
    margin-bottom: 1.5em;
    padding: 1em;
    color: red;
    text-align: left;
}
.login_form ul {
    padding: 0;
    margin: 0 auto;
}


/** HOANGNGUYEN 01/03 **/
.portfolio_images, .portfolio_image {
    display: block;
    width: 100%;
    float: left;
}
.portfolio_images .portfolio_image:last-child {
    border-bottom: none;
}

.portfolio_images .portfolio_image {
    margin: 2em 0;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.portfolio_images .portfolio_image .image {
    float: left;
    position: relative;
}
.portfolio_images .portfolio_image .image img {
    display: block;
}
.portfolio_images .portfolio_image .meta-data {
    float: left;
    padding: 0 2em;
    width: 20em;
    font-size: 0.8333em;
}
.portfolio_images .portfolio_image .meta-data {
    font-size: 0.8333em;
}
.portfolio_images .portfolio_image .meta-data label {
    display: inline-block;
    width: 7em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.portfolio_images .portfolio_image .meta-data .value {
    display: inline-block;
    margin-bottom: 0.25em;
}
.portfolio_images .portfolio_image .description {
    float: left;
    width: 20em;
    font-size: 0.8333em;
}
.portfolio_images .portfolio_image .description label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25em;
}
.portfolio_images .portfolio_image .description .value {
    height: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio_images .portfolio_image ul.actions {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    list-style: none;
}
 .portfolio_images .portfolio_image ul.actions li {
    text-align: right;
    margin-bottom: 10px;
}
.portfolio_images .portfolio_image ul.actions li a {
    width: 40px;
}
.portfolio_images .portfolio_image a.button {
    margin-bottom: 20px;
}
input[type="submit"], input[type="button"], .button {
    display: inline-block;
    font: inherit;
    border: none;
    background: #093;
    color: white;
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
.small {
    color: rgb(51, 51, 51);
    font-size: 11px;
    font-family: tahoma, arial, verdana;
}
.button.warn {
    background: #a00;
}
.portfolio .add_but 
{
    clear: left;
    margin-bottom: 32px;
    border-bottom: 1px solid #ccc;
}