ul {
    list-style: none;
}
ul.grid {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
ul.grid li {
    float: left;
    width: 205px;
    margin-right: 25px;
}
ul.grid li:nth-child(3n) {
    margin-right: 0px;
}
ul.grid li img {
    width: 100%;
}
ul.grid .content {
    padding: 10px 5px;
    margin: 5px 0px;
    text-align: center;
}
ul.grid .like {
    float: left;
    margin-right: 10px;
}
ul.grid .comment {
    background: none;
    margin: 0;
    padding: 0;
}

.main-info {
    display: block;
    float: left;
    margin-bottom: 40px;
    width: 100%;
}
.profile-picture {
    float: left;
    width: 100px;
    margin-right: 20px;
}
.profile-picture img {
    width: 100px;
}
.media {
    float: left;
    width: 100%;
}
}