/***
Login page
***/

/* logo page */
.clearBoth{clear: both;}
.errorSummary, .error{
	color:red;
	border-color: red;
}
.errorSummary input, .error input{
	border-color: red !important;
}
.login {
  background-color: #444 !important;
}

.login .logo {
  width: 247px;
  margin: 0 auto;   
  margin-top:60px;
  padding: 15px;
  text-align: center;
}  

.login .content {
  background-color:#fff; 
  width: 291px;
  margin: 0 auto; 
  margin-bottom: 0px;
  padding: 30px;  
  padding-top: 20px;  
  padding-bottom: 15px;  
}

.login .content h3 {
  color: #000;
}
.login .content h4  {
  color: #555;
}

.login .content p {
  color: #222;
}

.login .content .form,
.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content div.form form .row{
	padding: 0;
	margin: 0;
}
.login .content div.form form .row input{
  width: 276px;
  border-left: 2px solid #35aa47 !important;
}
.login .content .m-wrap {
  border-left: 0 !important;
  width: 249px;
}

.login .content .input-icon {
  border-left: 2px solid #35aa47 !important;
}

.login .content .control-group {
  margin-bottom: 20px !important;
}

.login .content .input-icon .m-wrap {  
  margin: 0px !important;
}

.login .content .forget-form {
  display: none;
}
.login .content div.form form .row{
	margin-bottom:20px;
}
.login .content div.form form .row.error input {
	margin-bottom:5px;
}
.login .content div.form form .row.rememberMe{
	float:left;
	width: 210px;
}

.login .content div.form form .row.rememberMe input {
	float: left;
	width: 15px;
	margin-right: 5px;
}
.login .content div.form form .row.submit{
	float: right;
	width: 80px;
}
.login .content div.form form .row.submit input {
	background-color: #35aa47;
	background-image: none;
	filter: none;
	border: 0;
	padding: 7px 0;
	/* padding: 4px 12px;	*/
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	width: 80px;
	float: right;
}
.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 25px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container {
  border-left: 2px solid #35aa47 !important;
}

.login .content .select2-container .select2-choice {
  border-left: none !important;
}

.login .content .select2-container i {
  display: inline-block;
  color: #ccc;
  z-index: 1;
  margin: 2px 4px 4px 3px; 
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; 
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  width: 250px;
  margin: 0 auto; 
  padding: 10px 10px 0 10px;
  color: #999;
  font-size: 11px;
}
@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top:10px;
  }

  .login .content {
    padding: 30px; 
    width: 222px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .content .m-wrap {
      width: 180px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}